trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '12.x'
  displayName: 'Install Node.js'

- script: |
    echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
    npm install
    npm run build
    npx expo login -u $(EXPO_USERNAME) -p $(EXPO_PASSWORD)
    npx expo publish --non-interactive
  displayName: 'npm install, build and deploy'
